body {
    background: #e7ebff;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 15px;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    width: 100%;
    padding: 12px;
    background: #3857ff;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1d3af0;
}
